

* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.footer{
margin-top: auto;
}
/* .wrraper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */
 
p{
  margin: 0;
  padding: 0;
}

::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {

  position: relative;
  z-index: -1;
  width: 100%;
  overflow-x: hidden;
}

/* .logo {
  height: 40%;
  width: 40%;
}  */

/* .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #fff;
} */
/* .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
} */

/* .navBar {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin-left: 5%;
  width: 100%;
} */

/* .menu-section {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-bottom: 1%;

  /* margin: 1%; */
 
/* .menu-section a {
  margin-right: 10px;
} */

/* .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
} */

/* .cart-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
} */

/* .chef-img{
    height: 30%;
    width: 30%;
    object-fit: cover;
    margin: 2% 5%;
} */

 .hero-section {
  background-image: url("./Assests/foodmart/Rectangle\ 3.png");
} 

.veggie{
  background-image: url("./Assests/foodmart/vegetable.svg");
}
.bakery{
  background-image: url("./Assests/foodmart/bakery\ 1.svg");
}

.category-btn:hover{
  box-shadow: inset -10.5em 0 0 0 #fde047, inset 10.5em 0 0 0 #fde047;
}
/* .hero-content-card {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e6f3fa;
  width: 60%;
  margin: 1%;
  margin-left: 5%;
  border-radius: 12px;
  padding: 2%;
  box-shadow: 0px 4px 12px 0px rgba(150, 155, 143, 0.72);
} */

/* .content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1%;
  
  width: 80%;
} */
/* .content h1 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 2%;
} */
/* .content p {
  font-size: 1rem;
  margin-bottom: 5%;
} */

/* .smoothie-img {
  float: right;

} */
/* .heroSection_shopButton{
    border-radius: 4px;
border: 1px solid #222;
padding: 2% 5%;
} */
/* .heroSection_shopButton:hover{
    background-color: black;
    color: white;
}  */ */

/* .search-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f9f9f9;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  background-color: #f9f9f9;

  height: 5%;
  border-radius: 4px;
  border: 1px solid #f8f8f8;
  box-shadow: 1px 1px 2px lightgrey;
} */

/* .searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  padding: 2%;
  border-radius: 4px;
  background-color: #202020;
  color: #ffffff;
  box-shadow: 1px 1px 2px lightgrey;
  cursor: pointer;
} */

/* .searchButton:hover {
  background-color: #fc8019;
  color: #202020;
} */
/* .vegetable-bg {
  background: url("./Assests/foodmart/vegetable.svg")
   width: 70%;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 12px; */
/* } */ */
/* .vegetable-bg h1 {
    font-size: 1rem;
    padding: 5%;
    padding-right: 4%;
    padding-top: 10%;
  } */
  
/* .vegetable-bg p {
  font-size: 0.8rem;
  font-weight: lighter;
  padding-right: 4%;
  padding-top: 4%;
} */

/* .veggie-bakery {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:flex-start;
  width: 40%;
  margin: 1%;
} */
/* .bakery-bg {
  background: url("./Assests/foodmart/bakery\ 1.svg") #f9ebe7 50% / contain
   no-repeat;
  box-shadow: 0px 4px 12px 0px rgba(150, 155, 143, 0.72);
  width: 70%;
  padding: 2%;
  height: 50%;
  border-radius: 12px;
} */
/* .bakery-bg h1{
    font-size: 1rem;
    padding-right: 4%;
    padding-top: 4%;
}
.bakery-bg p{
    font-size: 0.8rem;
  font-weight: lighter;
  padding-right: 8%;
    padding-top: 4%;
} */

/* .login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form form {
  background-color: #808080;
  backface-visibility: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  margin: 2%;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login-form input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  padding: 0 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff !important;
  outline: #eaf0fb;
  outline-style: solid;
  outline-width: 1px;
}
::placeholder {
  color: #000000;
}

.User-Name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 5px;
  margin-top: 8px;
} */

/* button[type="submit"] {
  background-color: whitesmoke;
} */
/* .login-btn {
  color: #000000;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.new-user {
  text-align: center;
  font-size: medium;
  margin-top: 10px;
}
.social {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
} */
/* .social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .go {
  color: #fff;
  background-color: #d87a68;
  border-color: rgba(0, 0, 0, 0.2);
} */
/* .social .go:hover {
  color: #fff;
  background-color: #ce563f;
  border-color: rgba(0, 0, 0, 0.2);
}
.social .fb {
  margin-left: 25px;
  color: #fff;
  background-color: #205081;
  border-color: rgba(0, 0, 0, 0.2);
} */
/* .visiblity-icon{
    display: flex;
    align-items: center;
    justify-content: center;

} */
/* .visiblityIcon {
  width: 1px;
  z-index: 1;
  position: absolute;
  right: 7%;
  top: 55.5%;
} */

/* .social .fb:hover {
  color: #fff;
  background-color: #163758;
  border-color: rgba(0, 0, 0, 0.2);
} */

/* .social i {
  margin-right: 4px;
} */
/* .category-box{ */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%; */
    /* height: 200px; */


/* } */

 /* .category-cards{ 
     width: 17%; 
     display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding: 3%; 
     height: 80%; 
border-radius: 16px; 
border: #FBFBFB;  
 background: #FFF;  
 box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08); 
 text-align: center; 
cursor: pointer; 

 }  */

/* .category-cards:hover{
    transform: scale(1.2); 

}
.category-cards img{
    margin-bottom: 10%;
}
.category-cards p{
    font-size: medium;
} */

 /* .product-card{
border: #FBFBFB;
background: #FFF;
box-shadow: 0px 21px 44px 0px rgba(0, 0, 0, 0.08);
}


.product-card:hover{
  transform: scale(1.2); 
} */